    .bg-light {
        background-color: #e5ebf1 !important;
         animation-name: navbar;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes navbar {
    0%   {background-color:#e5ebf1;} 
    25%  {background-color:#bcd7f1;} 
    50%  {background-color:#64abf1;}
    75%  {background-color:#bcd7f1;} 
    100% {background-color:#e5ebf1;} 
      }

.pages {
    color: rgb(39, 1, 1);
    padding-left: 40px;
    font-size: 20px;
}
body {
background-color:#e5ebf1;
}
.btn {
    background-color:#64abf1;
}
h1 {
    color: rgb(39, 1, 1);
}
.icon {
    padding-left: 10px;
}